.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.form-element {
  padding: 10px 0;
}
.form-element label {
  font-size: 12px;
  font-weight: bold;
}
.form-element input, .form-element textarea {
  width: 90%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-input-error {
  font-size: 10px;
  color: red;
  padding: 0;
  margin: 0;
}