nav {
    border-top: 2px solid #c3d0ff;
    border-bottom: 2px solid #c3d0ff;
    padding: 5px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav li a {
    text-decoration: none;
    color: #008BF8;
    padding: 5px;
  }
  
  nav li a.active {
    font-weight: bold;
  }